.list-order{
  display: grid;
  grid-template-rows: auto auto 30rem;


  .list-order-header{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;

  }

  .list-order-body{
    display: flex;
    flex-direction: column;
  }
}