.cliente-list {
  display: flex;
  justify-content: center;
}

.cliente-title{
  text-align: center;
}

table {
  width: 50%;
}

th {
  font-size: 20px;
  text-align: center;
  border: 1px;
}

td {
  border-bottom: 2px solid rgba(184,184,184,0.3);
}

.colum-item {
  font-size: 16px;
  padding-bottom: 16px;
}

.colum-item#colum-tipo{
  text-align: center;
}