.romaneio-item{
  display: grid;
  grid-template-columns: 7fr 3fr;
  justify-content: space-between;
  padding: 0.2rem 0;

  .romaneio-name{
    min-width: 200px;
    margin: auto 0;
  }

  min-width: 480px;
  .romaneio-other{
    display: grid;
    grid-template-columns: auto auto;

    .type-algn {
      
      width: 70px;
      margin: auto;
    }

    .romaneio-edit{
      ul{
        display: flex;
        padding-left: 0.1rem;
        list-style-type: none;
        li{
          button{
            cursor: pointer;
          }
          margin: auto 0.1rem;
        }
      }
    }
  }
}