#header-app{
   padding: 1rem;
   background-color: white;
   border-bottom: 2px solid #f2f2f2;

   display: grid;
   grid-template-columns: 1fr 2fr 1fr;
   justify-content: space-around;
   align-items: center;

   .nav-search{
     display: flex;
     justify-content: center;

     .search-input{
     width: 400px;
     padding: 0.5rem;
     border-radius: 2px;
     border: 1px solid #cccccc;
  }
  }

  .buttons-nav {
    display: inline-flex;
  }

  .navigation-select{
    display: flex;
    justify-self: end;
  }

}